@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Serif+Pro:wght@400&display=swap');

body {
  margin: 16px;
  padding: 0;
  font-size: 16px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

main {
  max-width: 70ch;
  margin: 20px auto;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  /* font-size: 3.052rem; */
  font-size: 5vw;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

p {
  text-align: justify;
}
